<nav class="navbar navbar-expand-lg navbar-light bg-tempo mb-3">
  <div class="container-fluid">
    <a class="navbar-brand logo" [routerLink]="'.'">Medical Tour</a>
    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">&#9776;</button>
    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
      <ul ngbNav class="navbar-nav me-auto">
        <li [ngbNavItem]="menu.url" *ngFor="let menu of menus">
          <a ngbNavLink [routerLink]="menu.url" (click)="isMenuCollapsed = true">{{menu.title | translate}}</a>
        </li>
      </ul>
      <div ngbDropdown class="languagedropdown" display="dynamic" placement="bottom-end">
        <a class="nav-link" tabindex="0" ngbDropdownToggle id="languagedropdown" role="button"> {{currentLang?.name}} </a>
        <div ngbDropdownMenu aria-labelledby="languagedropdown" class="dropdown-menu">
          <a ngbDropdownItem (click)="onLanguageChange(lang)" *ngFor="let lang of languages">{{lang.name}}</a>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="sticky-wrapper">
  <a class="social whatsapp" href="#"><i class="bi bi-whatsapp"></i></a>
  <a class="social phone" href="#"><i class="bi bi-telephone"></i></a>
  <a class="social email" href="#"><i class="bi bi-envelope"></i></a>
</div>