<header class="navbar navbar-expand navbar-dark px-4 flex-column flex-md-row">
  <ul class="navbar-nav flex-row">
    <li class="nav-item">
      <a class="nav-link" routerLink="/">{{ "menu.home" | translate }}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/doctors">{{"menu.ourdoctors" | translate}}</a>
    </li>
  </ul>
  <div class="demo-site-versions navbar-nav flex-row ms-md-auto me-4"></div>
  <ul class="social-buttons navbar-nav flex-row d-none d-md-flex align-items-center">
    <li> 
        <select (change)="onLanguageChange($event)">
        <option value="en">English</option>
        <option value="nl">Dutch</option>
        <option value="fr">French</option>
      </select>

    </li>
  </ul>
</header>

