<main class="container">
  <div class="row">
    <div class="col">
      <ngb-carousel #carousel [interval]="5000" [pauseOnHover]="true" [pauseOnFocus]="true">
        <ng-template ngbSlide *ngFor="let testimonial of testimonials; index as i">
          <div class="carousel-caption">
            <h3>{{testimonial.title}}</h3>
          </div>
          <a href="https://www.google.fr/?q=Number+{{i+1}}" target="_blank" rel="nofollow noopener noreferrer">
            <div class="picsum-img-wrapper">
              <img class="carousel-img" [src]="testimonial.image" alt="" />
            </div>
          </a>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 mx-auto py-4">
      <div class="input-group input-group-lg ">
        <input class="form-control search-input border border-3 rounded-pill" type="search"
          id="example-search-input" [placeholder]="'home.searchByDoctor' | translate"/>
        <span class="input-group-text search"><i class="bi bi-search"></i></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 py-4 text-center border border-1" *ngFor="let doctor of doctors">
      <img [src]="doctor.avatar" alt="" class="rounded-circle">
      <h2 class="fw-normal">{{doctor.name}}</h2>
      <p>{{doctor.qualification}}</p>
      <p>{{doctor.specilization}}</p>
      <p>{{doctor.exp}}</p>
    </div>
  </div>
</main>