<div class="col-md-12 mx-auto text-center">
  <ngb-carousel
    #carousel
    [interval]="1500"
    [pauseOnHover]="true"
    [pauseOnFocus]="false"
  >
    <ng-template ngbSlide *ngFor="let img of images; index as i">
      <div class="carousel-caption">
        <h3>{{'home.slide' | translate: {page:i+1} }}</h3>
      </div>
      <a
        href="https://www.google.fr/?q=Number+{{ i + 1 }}"
        target="_blank"
        rel="nofollow noopener noreferrer"
      >
        <div class="picsum-img-wrapper">
          <img [src]="img" alt="My image {{ i + 1 }} description" />
        </div>
      </a>
    </ng-template>
  </ngb-carousel>



  <form class="row justify-content-center" id="searchform">
    <div class="form-group col-md-6">
      <div class="input-group">
        <input
          id="1"
          class="form-control"
          type="text"
          name="search"
          placeholder="{{'home.searchByDoctor' | translate}}."
          required
        />
        <span class="input-group-btn">
          <button class="btn btn-success" type="submit">
            <i class="glyphicon glyphicon-search" aria-hidden="true"></i> {{'home.search' | translate}}
          </button>
        </span>
      </div>
    </div>
  </form>
</div>
